<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="backblaze-b2-php tests">
            <directory suffix="Test.php">./spec</directory>
        </testsuite>
    </testsuites>
    <php>
        <!--
            These environment variable will need to be set before running the tests.
            The unit tests will make real B2 API calls.
        -->
        <env name="B2_APPLICATION_KEY_ID" value=""/>
        <env name="B2_APPLICATION_KEY" value=""/>
        <env name="B2_BUCKET_ID" value=""/>
    </php>
</phpunit>
